html,
body {
  font-size: 58.5938px;
  height: 100%;
  width: 100%;
}
body {
  font-family: Helvetica Neue, Helvetica, '宋体', "微软雅黑", "黑体", Arial, sans-serif;
  background-color: #60c88d;
}
.hide {
  display: none !important;
}
section.loader {
  font-size: 14px;
}
section.loader > div {
  padding-top: 50%;
}
section.loader > div:nth-child(1) {
  font-weight: bold;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
  font-style: italic;
  color: #00733d;
}
section.loader > div:nth-child(2) {
  box-sizing: border-box;
  padding: 2px;
  margin: 0 auto;
  width: 15em;
  height: .5em;
  background-color: #dbf3d2;
  border-radius: .4em;
}
section.loader > div:nth-child(2) div {
  width: 30%;
  height: .24em;
  border-radius: .4em;
  background-color: #00733d;
}
.page {
  display: none;
}
.page > div:nth-child(1) {
  width: 7.5rem;
  height: 4.45rem;
  background: url(../images/in_bg_01.png) no-repeat;
  background-size: cover;
}
.page > div:nth-child(2) {
  width: 7.5rem;
  height: 8.15rem;
  background: url(../images/in_bg_02.png) no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
}
.page > div:nth-child(2) > div {
  width: 7.5rem;
  justify-content: space-between;
  display: flex;
}
.page > div:nth-child(2) > div:nth-child(1) > span {
  display: inline-block;
}
.page > div:nth-child(2) > div:nth-child(1) > span:nth-child(1) {
  width: 1.68rem;
  height: 2.6rem;
  background: url(../images/leaf_le_01.png) no-repeat;
  background-size: cover;
  left: 0;
}
.page > div:nth-child(2) > div:nth-child(1) > span:nth-child(2) {
  width: 1.98rem;
  height: 4.38rem;
  background: url(../images/leaf_ri_01.png) no-repeat;
  background-size: cover;
  right: 0;
}
.page > div:nth-child(2) > div:nth-child(3) {
  width: 7.5rem;
  height: 3.23rem;
  background: url(../images/index_ren.png) no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
}
.start_game {
  display: inline-block;
  width: 4.03rem;
  height: 1.23rem;
  background: url(../images/in_start.png) no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  margin: auto;
  right: 0;
  bottom: 3.32rem;
  z-index: 99;
}
@keyframes mymove {
  0% {
    transform: rotateY(0deg);
  }
  10% {
    transform: rotateY(60deg);
  }
  20% {
    transform: rotateY(60deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
@-moz-keyframes mymove {
  /* Firefox */
  0% {
    transform: rotateY(0deg);
  }
  10% {
    transform: rotateY(60deg);
  }
  20% {
    transform: rotateY(60deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
@-webkit-keyframes mymove {
  /* Safari and Chrome */
  0% {
    transform: rotateY(0deg);
  }
  10% {
    transform: rotateY(60deg);
  }
  20% {
    transform: rotateY(60deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
@-o-keyframes mymove {
  /* Opera */
  0% {
    transform: rotateY(0deg);
  }
  10% {
    transform: rotateY(60deg);
  }
  20% {
    transform: rotateY(60deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
.main_content {
  width: 7.5rem;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}
.main_content > div:nth-child(2) {
  font-size: .28rem;
  color: #5f76e2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.main_content > div:nth-child(2) > img {
  width: .18rem;
  height: .43rem;
}
.main_content > div:nth-child(2) > img:nth-child(3) {
  transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  /* IE 9 */
  -moz-transform: scaleX(-1);
  /* Firefox */
  -webkit-transform: scaleX(-1);
  /* Safari 和 Chrome */
  -o-transform: scaleX(-1);
}
.main_content > div:nth-child(2) > p {
  width: 3.48rem;
  text-align: center;
  margin: 0 .2rem;
  font-weight: bolder;
}
.main_content > div:nth-child(3) {
  margin: .2rem auto;
}
.main_content > div:nth-child(3) > ul {
  text-align: center;
  width: 6.2rem;
  margin: 0 auto;
}
.main_content > div:nth-child(3) > ul > li {
  display: inline-block;
  width: 1.43rem;
  height: 1.21rem;
  border-radius: .1rem;
  border: solid 2px #008953;
  box-shadow: 5px 5px 2px #36ab68;
  background-color: #008953;
  background: url(../images/wenhao.png) no-repeat;
  background-size: cover !important;
}
.main_content > div:nth-child(4) {
  position: relative;
  height: .77rem;
  margin: .4rem auto;
}
.main_content > div:nth-child(4) > span {
  position: absolute;
  width: 1.07rem;
  height: .79rem;
  background: url(../images/main_01.png) no-repeat;
  background-size: cover;
  left: .58rem;
  top: .7rem;
}
.main_content > div:nth-child(4) > div {
  width: 2.52rem;
  height: .77rem;
  background: url(../images/ti_agin.png) no-repeat;
  background-size: cover !important;
  margin: 0 auto;
}
.lihe {
  width: 5.92rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.lihe > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.lihe > div:nth-child(1) > div:nth-child(1).x_unclaimed {
  width: 1.51rem;
  height: 1.01rem;
  background: url(../images/lhx_01.png) no-repeat;
  background-size: cover !important;
}
.lihe > div:nth-child(1) > div:nth-child(1).x_claimed {
  width: 1.49rem;
  height: 1.12rem;
  background: url(../images/lhx_02.png) no-repeat;
  background-size: cover;
}
.lihe > div:nth-child(1) > div:nth-child(2) {
  width: 2.52rem;
  height: .77rem;
  background: url(../images/btn_hui.png) no-repeat;
  background-size: cover !important;
  font-size: .28rem;
  color: #ffe5e7;
  text-align: center;
  line-height: .7rem;
  text-shadow: 2px 2px 1px #626262;
  font-weight: bold;
  margin: .23rem 0 .15rem 0;
}
.lihe > div:nth-child(1) > p {
  color: #006d2f;
  font-size: .24rem;
}
.lihe > div:nth-child(2) > div:nth-child(1).d_unclaimed {
  width: 2.21rem;
  height: 1.63rem;
  background: url(../images/lhd_01.png) no-repeat;
  background-size: cover !important;
}
.lihe > div:nth-child(2) > div:nth-child(1).d_claimed {
  width: 2.16rem;
  height: 1.8rem;
  background: url(../images/lhd_02.png) no-repeat;
  background-size: cover;
}
.lihe > div:nth-child(2) > div:nth-child(2) {
  width: 2.52rem;
  height: .77rem;
  background: url(../images/btn_hui.png) no-repeat;
  background-size: cover !important;
  font-size: .28rem;
  color: #ffe5e7;
  text-align: center;
  line-height: .7rem;
  text-shadow: 2px 2px 1px #626262;
  font-weight: bold;
  margin: .23rem 0 .15rem 0;
}
.lihe > div:nth-child(2) > p {
  color: #006d2f;
  font-size: .24rem;
}
.bind {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}
.bind > div:nth-child(1) {
  height: 2.8rem;
  text-align: center;
  line-height: 2.8rem;
  width: 7.5rem;
}
.bind > div:nth-child(1) > span {
  display: inline-block;
  width: 3rem;
  height: .58rem;
  background: url(../images/bd.png) no-repeat;
  background-size: cover;
}
.bind > div:nth-child(2) {
  display: flex;
  font-size: .24rem;
  color: #00673a;
  height: 5.69rem;
  margin-top: 1rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.bind > div:nth-child(2) > p {
  width: 4.7rem;
  text-align: center;
  line-height: .5rem;
  margin-bottom: .57rem;
}
.bind > div:nth-child(2) > div:nth-child(2) {
  width: 4.74rem;
  height: 1.81rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bind > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
  display: flex;
  align-items: center;
}
.bind > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > input {
  width: 3rem;
  height: .6rem;
  border-radius: .6rem;
  background-color: #86edaf;
  border: 0;
  padding-left: .3rem;
  box-sizing: border-box;
}
.bind > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bind > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > input {
  width: 1.7rem;
  height: .6rem;
  border-radius: .6rem;
  background-color: #86edaf;
  border: 0;
}
.bind > div:nth-child(2) > div:nth-child(2) > div > label {
  font-size: .28rem;
  font-weight: bold;
}
.bind > div:nth-child(2) > div:nth-child(3) {
  width: 2.52rem;
  height: .77rem;
  background: url(../images/tijiao.png) no-repeat;
  background-size: cover !important;
}
.topic {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  display: none;
}
.topic > div:nth-child(1) {
  margin-top: .75rem;
}
.topic > div:nth-child(1) > div {
  width: 6.5rem;
  height: 1.16rem;
  background-color: #4bad75;
  border-top-right-radius: .25rem;
  border-top-left-radius: .25rem;
  border-bottom-right-radius: .6rem;
  border-bottom-left-radius: .6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.topic > div:nth-child(1) > div > div {
  width: 6.1rem;
  height: .4rem;
  background: url(../images/ti_jin.png) no-repeat;
  background-size: cover;
  margin-bottom: .22rem;
  position: relative;
}
.topic > div:nth-child(1) > div > div > img {
  width: .4rem;
  height: .89rem;
  position: absolute;
  top: -32px;
  left: .2rem;
}
.topic > div:nth-child(1) > div > ul {
  width: 5.12rem;
  height: .1rem;
  background-color: #097a64;
  display: flex;
  justify-content: space-between;
}
.topic > div:nth-child(1) > div > ul > li {
  display: flex;
  position: relative;
  left: -0.13rem;
}
.topic > div:nth-child(1) > div > ul > li > span:nth-child(1) {
  display: inline-block;
  width: .12rem;
  height: .12rem;
  border: solid 2px #ffcf37;
  border-radius: 50%;
  position: absolute;
  top: -0.06rem;
}
.topic > div:nth-child(1) > div > ul > li > p > span:nth-child(1) {
  display: inline-block;
  width: .26rem;
  height: .26rem;
  position: absolute;
  top: -0.08rem;
  background: url(../images/ti_dian.png) no-repeat;
  background-size: cover;
}
.topic > div:nth-child(1) > div > ul > li > p > span:nth-child(2) {
  display: inline-block;
  height: .07rem;
  background-color: #ffcf37;
  border-radius: .1rem;
  width: .55rem;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.topic > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 6.2rem;
  margin: 0 auto;
}
.topic > div:nth-child(2) > div.swiper-container {
  width: 6.2rem;
}
.topic > div:nth-child(2) > a {
  display: inline-block;
  width: 6.14rem;
  height: 1.70rem;
  background: url(../images/guanggao.png) no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.topic_content > div:nth-child(1) {
  width: 5.34rem;
  height: .49rem;
  background: url(../images/ti_title.png) no-repeat;
  background-size: cover;
  margin-top: .34rem;
}
.topic_content > div:nth-child(2) {
  width: 6.2rem;
  height: 3.41rem;
  background-color: #4bad75;
  border-radius: .2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .11rem;
  box-sizing: border-box;
}
.topic_content > div:nth-child(2) > div {
  width: 6rem;
  height: 3.2rem;
  background-color: #097a64;
  box-sizing: border-box;
  padding: .04rem;
  border-radius: .2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topic_content > div:nth-child(2) > div > img {
  width: 5.92rem;
  height: 3.12rem;
  border-radius: .2rem;
}
.topic_content > div:nth-child(3) {
  font-size: .32rem;
  width: 6.2rem;
}
.topic_content > div:nth-child(3) > div {
  height: 1rem;
  border-radius: .1rem;
  line-height: 1rem;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0 .44rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: .2rem auto;
}
.topic_content > div:nth-child(3) > div > span {
  display: inline-block;
}
.topic_content > div:nth-child(3) > div > span:nth-child(2).ti_wrong {
  width: .28rem;
  height: .29rem;
  background: url(../images/ti_f.png) no-repeat;
  background-size: cover;
}
.topic_content > div:nth-child(3) > div > span:nth-child(2).ti_right {
  display: inline-block;
  width: .31rem;
  height: .21rem;
  background: url(../images/ti_t.png) no-repeat;
  background-size: cover;
}
.main {
  display: none;
}
.main > div:nth-child(2) {
  width: 7.5rem;
  height: 2.4rem;
  background: url(../images/dimian_01.jpg) no-repeat;
  background-size: cover;
}
.main > div:nth-child(3) {
  width: 7.5rem;
  height: 1.88rem;
  background: url(../images/dimian_03.png) no-repeat;
  background-size: cover;
}
.main > div:nth-child(4) {
  width: 7.5rem;
  height: 1.8rem;
  background: url(../images/dimian_04.png) no-repeat;
  background-size: cover;
}
.main > div:nth-child(5) {
  width: 3.37rem;
  height: 1.4rem;
  background: url(../images/dimian_05.png) no-repeat;
  background-size: cover;
}
.main > div:nth-child(6) {
  width: 7.5rem;
  height: 1.66rem;
  background: url(../images/dimian_06.png) no-repeat;
  background-size: cover;
  position: fixed;
  bottom: 0;
}
.ti_bg > div:nth-child(1) {
  width: 7.5rem;
  height: 2.8rem;
  background: url(../images/ti_bg.png) no-repeat;
  background-size: cover;
}
.main_bg > div:nth-child(1) {
  width: 7.5rem;
  height: 2.8rem;
  background: url(../images/main_title.jpg) no-repeat;
  background-size: cover;
}
.leaf > div:nth-child(1) {
  width: 1.27rem;
  height: 2.14rem;
  background: url(../images/leaf_left.png) no-repeat;
  background-size: cover;
  left: 0;
  position: absolute;
  top: 0;
  margin: auto;
  bottom: 0;
  z-index: 1;
}
.leaf > div:nth-child(2) {
  width: 1.12rem;
  height: 3.16rem;
  background: url(../images/leaf_right.png) no-repeat;
  background-size: cover;
  right: 0;
  position: absolute;
  top: 0;
  margin: auto;
  bottom: 0;
  z-index: 1;
}
.rule {
  display: inline-block;
  width: 1.54rem;
  height: .64rem;
  background: url(../images/rule.png) no-repeat;
  background-size: cover;
  position: fixed;
  top: .2rem;
  right: 0;
  z-index: 1;
}
.undian {
  display: none;
}
.close {
  width: 3rem;
  height: .9rem;
  line-height: .9rem;
  text-align: center;
  background-color: #65d6b2;
  font-size: .32rem;
  margin-top: .4rem;
  margin: .4rem auto;
  border-radius: .43rem;
}
.pop {
  position: fixed;
  left: 0;
  right: 0;
  top: 3rem;
  margin: auto;
  font-size: .24rem;
  z-index: 200;
  color: #006d2f;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pop_att {
  text-align: center;
  display: none;
}
.pop_att > div:nth-child(1) {
  width: 4.7rem;
  height: 3rem;
  background-color: #65d6b2;
  border: solid 1px #008953;
  border-radius: .1rem;
  margin: 0 auto;
}
.pop_att > div:nth-child(1) > p {
  font-size: .32rem;
  margin: .4rem auto;
}
.pop_att > div:nth-child(1) > div {
  margin: 0 auto;
}
.pop_att > div:nth-child(1) > div:nth-child(2) {
  font-size: .24rem;
  width: 3.26rem;
  display: flex;
  justify-content: center;
}
.pop_att > div:nth-child(1) > div:nth-child(2) > p {
  font-size: .28rem;
}
.pop_att > div:nth-child(1) > div:nth-child(2) > ul > li:nth-child(2) {
  margin: .23rem auto;
}
.pop_att > div ul li {
  text-align: left;
}
.pop_benw {
  display: none;
}
.pop_benw > div:nth-child(1) {
  width: 4.7rem;
  height: 5rem;
  background-color: #65d6b2;
  border: solid 1px #008953;
  text-align: center;
  border-radius: .1rem;
  margin: 0 auto;
}
.pop_benw > div:nth-child(1) > div {
  width: 3rem;
  margin: .4rem auto 0;
}
.pop_benw > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) span {
  display: inline-block;
  margin-top: .22rem;
}
.pop_benw > div:nth-child(1) > div:nth-child(1) > p:nth-child(2) {
  margin: 0.3rem 0 0.3rem 0;
}
.pop_benw > div:nth-child(1) > div:nth-child(1) > p:nth-child(3) {
  line-height: .4rem;
  margin-bottom: .3rem;
}
.pop_benw > div:nth-child(1) > div:nth-child(1) > p > span {
  color: #d6e851;
}
.pop_benw > div:nth-child(1) > a {
  display: inline-block;
  width: 4.2rem;
  height: 1.18rem;
  background: url(../images/guanggao_fen.png) no-repeat;
  background-size: cover;
}
.pop_yio {
  display: none;
}
.pop_yio > div:nth-child(1) {
  width: 4.7rem;
  height: 3.3rem;
  background-color: #65d6b2;
  border: solid 1px #008953;
  text-align: center;
  border-radius: .1rem;
  margin: 0 auto;
}
.pop_yio > div:nth-child(1):nth-child(1) > p {
  margin: .3rem auto 0;
}
.pop_yio > div:nth-child(1):nth-child(1) > p:nth-child(1) span {
  display: inline-block;
  margin-top: .22rem;
}
.pop_yio > div:nth-child(1):nth-child(1) > p:nth-child(2) {
  line-height: .4rem;
}
.pop_yio > div:nth-child(1):nth-child(1) > p > span {
  color: #d6e851;
}
.pop_yio > div:nth-child(2) {
  width: 4.7rem;
  display: flex;
  justify-content: space-between;
  margin-top: .4rem;
  margin: .4rem auto 0;
}
.pop_yio > div:nth-child(2) > span {
  display: inline-block;
  width: 2.1rem;
  height: .69rem;
  font-size: .32rem;
  text-align: center;
  background-color: #65d6b2;
  line-height: .69rem;
}
.pop_yit {
  display: none;
}
.pop_yit > div:nth-child(1) {
  width: 4.7rem;
  height: 2.9rem;
  background-color: #65d6b2;
  border: solid 1px #008953;
  text-align: center;
  border-radius: .1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.pop_yit > div:nth-child(1) > div {
  margin: .32rem 0;
}
.pop_yit > div:nth-child(1) > div > label {
  font-size: .32rem;
  margin-right: .3rem;
}
.pop_yit > div:nth-child(1) > div > input {
  width: 2.49rem;
  height: .61rem;
  background-color: #7df5cf;
  border: 0;
}
.pop_yith {
  display: none;
}
.pop_yith > div:nth-child(1) {
  width: 4.7rem;
  height: 3.8rem;
  background-color: #65d6b2;
  border: solid 1px #008953;
  text-align: center;
  border-radius: .1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.pop_yith > div:nth-child(1):nth-child(1) > p:nth-child(1) {
  font-size: .32rem;
  font-weight: bolder;
  margin-bottom: .2rem;
}
.pop_yith > div:nth-child(1):nth-child(1) > p:nth-child(2) {
  line-height: .4rem;
}
.pop_yith > div:nth-child(1):nth-child(1) > p:nth-child(3) {
  margin-top: .2rem;
}
.pop_yith > div:nth-child(1):nth-child(1) > p > span {
  color: #d6e851;
}
.pop_yith > div:nth-child(2) {
  width: 4.7rem;
  display: flex;
  justify-content: space-between;
  margin: .4rem auto 0;
}
.pop_yith > div:nth-child(2) > span {
  display: inline-block;
  width: 2.1rem;
  height: .69rem;
  font-size: .32rem;
  text-align: center;
  background-color: #65d6b2;
  line-height: .69rem;
}
.pop_yif {
  display: none;
}
.pop_yif > div:nth-child(1) {
  width: 4.7rem;
  height: 5rem;
  background-color: #65d6b2;
  border: solid 1px #008953;
  text-align: center;
  border-radius: .1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.pop_yif > div:nth-child(1) > div {
  width: 3rem;
}
.pop_yif > div:nth-child(1) > div:nth-child(1) > p {
  line-height: .4rem;
}
.pop_yif > div:nth-child(1) > div:nth-child(1) > p:nth-child(2) {
  margin: .3rem auto;
}
.pop_yif > div:nth-child(1) > div:nth-child(1) > p > span {
  color: #d6e851;
}
.pop_yif > div:nth-child(1) > a {
  display: inline-block;
  width: 4.2rem;
  height: 1.18rem;
  background: url(../images/guanggao_fen.png) no-repeat;
  background-size: cover;
}
.libao {
  display: none;
}
.libao > div:nth-child(1) {
  width: 4.7rem;
  height: 3rem;
  background-color: #65d6b2;
  border: solid 1px #008953;
  text-align: center;
  border-radius: .1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.libao > div:nth-child(1) > p {
  line-height: .4rem;
}
.libao > div:nth-child(1) > p:nth-child(2) {
  color: #df7063;
  margin-top: .2rem;
}
.pop_post {
  top: 2rem;
  margin-top: 0 auto;
  display: none;
}
.pop_post > div {
  width: 5.1rem;
  height: 7rem;
  overflow: scroll;
  margin: 0 auto;
}
.pop_post > div > img {
  width: 5.1rem;
}
.pop_post > div:nth-child(2) {
  width: 3.13rem;
  height: .9rem;
  background: url(../images/mxp_sure.png) no-repeat;
  background-size: cover;
  margin-top: .2rem;
}
.share {
  display: none;
  width: 100%;
  height: 100%;
  top: .2rem;
}
.share > div {
  height: 100%;
}
.share > div > div {
  width: 5.78rem;
  height: 2.29rem;
  background: url(../images/share.png) no-repeat;
  background-size: cover;
  position: relative;
  left: 1.23rem;
}
.pop_rule {
  display: none;
  top: 1rem;
  z-index: 99999999;
}
.pop_rule > div:nth-child(1) {
  width: 6rem;
  height: 8rem;
  background-color: #65d6b2;
  border: solid 1px #008953;
  padding: .15rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  border-radius: .2rem;
}
.pop_rule > div:nth-child(1) > ul {
  overflow: scroll;
  font-size: .24rem;
  color: #00673a;
  text-align: justify;
}
.pop_rule > div:nth-child(1) > ul > li {
  line-height: .4rem;
  width: 83%;
  margin: .3rem auto;
}
.pop_rule > div:nth-child(1) > ul > li > span {
  font-size: .3rem;
}
.pop_rule > div:nth-child(2) {
  width: .38rem;
  height: .38rem;
  background: url(../images/ru_colse.png) no-repeat;
  background-size: cover;
  margin: .4rem auto 0;
}
.pop_attention {
  display: none;
}
.pop_attention > div {
  width: 6rem;
  height: 5.9rem;
  background-color: #65d6b2;
  border: solid 1px #008953;
  padding: .15rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  font-size: .3rem;
  text-align: center;
  border-radius: .2rem;
}
.pop_attention > div > p {
  width: 5rem;
  margin: 0 auto;
  line-height: .5rem;
}
.pop_attention > div > p:nth-child(2) {
  width: 2rem;
  height: 2rem;
  background: #fff;
}
.add_transform {
  animation: mymove 1s infinite;
  -ms-animation: mymove 1s infinite;
  -moz-animation: mymove 1s infinite;
  -o-animation: mymove 1s infinite;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 190;
}
